<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head"></head>
<header th:replace="layout :: logged-out"></header>
<body>
    <h2>Please Login</h2>

<!--    <form method="post" >-->
    <form method="post" th:object="${user}">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"/>
        <label for="password">Password:</label>
        <input type="text" id="password" name="password"/>
        <input type="submit" value="login">
    </form>
</body>
</html>

