<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head"></head>
<header th:replace="layout :: logged-out"></header>
<body>
<h2>Please Register</h2>

<!--    <form method="post" >-->
<form method="post" th:object="${user}">
    <label for="username">Username:</label>
    <input type="text" id="username"/>
    <label for="password">Password:</label>
    <input type="text" id="password"/>
    <label for="fullname">Ful Name:</label>
    <input type="text" id="fullname"/>
    <input type="submit" value="Register">
</form>
</body>
</html>

